NEXT_PUBLIC_SITE=''
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_BASE_API_URL=''

NEXT_PRIVATE_BASE_API_PUBLIC_KEY=''
NEXT_PUBLIC_S3_STATIC_BASE=https://d17rbtua2lvhjg.cloudfront.net

NEXT_PUBLIC_DEFAULT_LOCATION=gx
NEXT_PUBLIC_DEFAULT_LANG=en
NEXT_PUBLIC_DEFAULT_CURRENCY=USD

NEXT_PUBLIC_WEBSITE_URL=''
NEXT_PUBLIC_LOAD_META_DATA=''
NEXT_PUBLIC_ENCRYPT_KEY=''

NEXT_PUBLIC_RECAPTCHA_PROJECT_ID=''
NEXT_PUBLIC_RECAPTCHA_SECRET_KEY=''
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=''

NEXT_PUBLIC_GOOGLE_GTM=''

NEXT_PUBLIC_SITE_NAME=''

NEXT_PUBLIC_SITE_EMAIL=''

NEXT_PUBLIC_GOOGLE_MAP=''
